.search-container {
    // margin-top: 100px;

    .first-result-container {
        width: 100%;
        position: relative;
        cursor: pointer;

        .first-result-image {
            width: 100%;
            height: 450px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .first-result-detail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #0b0b0b, $alpha: 0.5);
            padding: 10px 20px;

            .title {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
            }

            .watch-now {
                margin: 10px;
                background-color: rgba($color: #030303, $alpha: 0.9);
                padding: 10px 20px;
                border-radius: 20px;
                border: 0.2px solid #444;
                font-size: 14px;

                span {
                    margin-right: 8px;
                }
            }
        }
    }

    .search-input-container {
        padding: 10px 30px;

        .search-input {
            border: none;
            color: black;
            outline: none;
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
        }
    }

    .whole-results-container {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #020202;
        padding-top: 40px;

        .result-genre {
            width: 0px;
            background-color: #444;
            height: 600px;
        }

        .search-results {
            .result-heading {
                margin-left: 10px;
            }

            .results-container {
                width: 530px;
                margin: 0px 10px;
                position: relative;

                .result-box {
                    display: flex;
                    margin: 18px 10px;
                    background-color: #151515;
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                    height: 200px;

                    .result-image {
                        width: 180px;
                        height: 100%;
                        position: relative;
                        background-color: #282828;
                        // border-top-left-radius: 10px;
                        // border-bottom-left-radius: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border-top-left-radius: 10px;
                            // border-bottom-left-radius: 10px;
                        }

                        .no-image {
                            object-fit: contain;
                        }
                    }

                    .result-detail {
                        width: calc(100% - 150px);
                        padding: 15px 15px;
                        position: relative;

                        .watch-now {
                            margin: 10px 0px;
                            width: max-content;
                            background-color: rgba($color: #030303, $alpha: 0.7);
                            padding: 10px 15px;
                            border-radius: 20px;
                            border: 0.1px solid #444;
                            font-size: 12px;

                            span {
                                margin-right: 6px;
                            }
                        }

                        .result-title {
                            font-size: 15px;
                            color: #f2f2f2;
                            font-weight: 500;

                        }

                        .result-date {
                            font-size: 12px;
                            color: #d1d1d1;
                            margin-top: 3px;

                            span {
                                margin-right: 5px;

                                i {
                                    color: #d1d1d1;
                                }
                            }
                        }

                        .result-overview {
                            margin-top: 5px;
                            font-size: 13px;
                            font-weight: 300;
                            display: -webkit-box !important;
                            color: #bfbfbf;
                            // white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            white-space: normal;
                            text-align: justify;
                        }

                        .result-type {
                            position: absolute;
                            right: 15px;
                            bottom: 15px;
                            font-size: 12px;
                            color: #d1d1d1;
                            padding: 5px 8px;
                            border-radius: 5px;
                            border: 0.5px solid #a1a1a1;
                        }
                    }
                }
            }
        }
    }

    .load-more {
        button {
            background: #444;
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba($color: #030303, $alpha: 0.2);
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: rgba($color: #030303, $alpha: 0.4);

    }
    .nav-header {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;

        a {
            margin-left: 45px;
        }

        .nav-item {
            font-size: 0.8rem;
            font-weight: 600;
            padding: 5px;
            // text-transform: uppercase;
            position: relative;
            cursor: pointer;
            z-index: 20;
            letter-spacing: 1.25px;

            &:hover {
                .nav-list-child {
                    opacity: 1;
                    top: 35px;
                    visibility: visible;
                }
            }

            span {
                margin-left: 6px;

                i {
                    font-size: 11px;
                    font-weight: 600;
                }
            }

            i {
                font-size: 16px;
                font-weight: 400;
            }

            .nav-list-child {
                list-style: none;
                align-items: center;
                background-color: rgba($color: #000, $alpha: 0.65);
                position: absolute;
                width: max-content;
                z-index: 10;
                top: 60px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;
                border: 0px solid #222;

                a {
                    margin: 0 !important;
                }

                .nav-item-child {
                    padding: 16px 65px 16px 25px;
                    text-transform: none;

                    &:hover {
                        background-color: rgba($color: #000, $alpha: 0.45);
                    }
                }

                .nav-item-child.first {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    // border-bottom:0.8px solid #222 ;
                }

                .nav-item-child.last {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    // border-top:0.8px solid #222 ;
                }
            }

            .nav-list-child.first {
                left: 0;
            }

            .nav-list-child.last {
                right: 0;
            }
        }

        .nav-item.search {
            width: 25px;
            height: 30px;

            &:hover {
                .icon-info {
                    visibility: hidden;
                    opacity: 1;
                }
            }

            i {
                color: #c5c5c5;

            }

            i.fa-times {
                font-size: 20px;
            }

            .icon-info {
                text-transform: none;
                position: absolute;
                width: max-content;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                top: 30px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #282828;
                padding: 5px 5px;
                border-radius: 5px;
            }
        }
    }

    .search-container {
        position: absolute;
        right: -5px;
        top: -3px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        form {
            input {
                padding: 0px;
                width: 0px;
                border-radius: 5px;
                outline: none;
                border: none;
                color: #4a4a4a;
                font-size: 13px;
                background-color: transparent;
                transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, padding 0.5s 0.5s ease-in-out;

                &::placeholder {
                    font-weight: 300;
                }
            }
        }
    }

    .search-container.active {
        input {
            padding: 8px 15px;
            width: 280px;
            background-color: hsla(255, 0%, 10%, 1);
            transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, padding 0.5s -0.2s ease-in-out;
            color: hsla(255, 0%, 50%, 1);

            &::placeholder {
                color: hsla(255, 0%, 40%, 1);
                font-weight: 400;
            }
        }
    }
}

//Home styles
.main-content {
    margin: 10px 1.5rem;
    width: calc(100% - 3rem);
    padding-top: 84px;

    .section-main {
        max-width: 780px;
        margin: 3rem auto 0rem;

        .section-header {
            text-align: center;
            margin: 10px;

            p {
                font-size: 0.85rem;
                font-weight: 300;
                margin-top: 5px;
            }
        }

        .whole-poster {
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            margin: 12px auto;

            .poster-container {
                display: flex;

                .poster {
                    width: 155px;
                    height: 225px;
                    margin: 10px 14px 8px 0px;
                    border-radius: 3px;
                    position: relative;
                    background-color: #222;
                    transition: all 0.5s ease-in-out;

                    .poster-image {
                        width: 155px;
                        height: 225px;
                        border-radius: 3px;
                        background-color: #777;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    .poster-detail {
                        padding: 10px 12px 10px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        background-color: rgba($color: #030303, $alpha: 0.85);

                        .poster-title {
                            color: rgba(220, 220, 220, 1);
                            font-size: 0.85rem;
                            font-weight: 600;

                            &:hover {
                                color: rgba(240, 240, 240, 1);
                            }

                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // -webkit-line-clamp: 1;
                            // -webkit-box-orient: vertical;
                            // white-space: normal;
                        }

                        .poster-year {
                            font-size: 0.7rem;
                            font-weight: 300;
                            margin-top: 2px;
                            color: rgba(160, 160, 160, 1);
                        }
                    }
                }
            }

            .poster-container.active {
                transition: transform 0.2s ease-in-out;
                transform: scale(1.05);

            }
        }
    }
}

.dot {
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0px 8px;
}

.coma {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0px 2px 0px 1px;
}

.genres {
    font-size: 0.78rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    margin: 10px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    .genre{
        padding: 8px 12px;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: rgba($color: #ccc, $alpha: 0.1);
    }
}

//Movie styles

.w-content {
    width: 100%;
    position: relative;

    .content {
        width: 100%;
        height: 100vh;
        position: relative;
        transition: filter 0.3s ease-in-out;

        .content-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            z-index: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }
        .content-parent{
            background-color: #000;
            .content-hero {
                max-width: 100%;
                min-height: 100vh;
                // background-color: rgba($color: #000, $alpha: 0.55);
                background:linear-gradient(360deg, #000 ,transparent 220%);
                display: flex;
                justify-content: center;
                padding: 0px 50px 70px 50px;
                align-items: flex-end;
                backdrop-filter: blur(2px);

                // text-align: center;
                .content-info {
                    display: flex;

                    // align-items: center;
                    .content-poster {
                        width: 220px;
                        height: 350px;
                        position: relative;
                        background:linear-gradient(135deg,#030303 40%,#383838) ;
                        border-radius: 8px;

                        img {
                            width: 220px;
                            height: 350px;
                            object-fit: cover;
                            object-position: top;
                            border-radius: inherit;
                        }
                    }
                }

                .content-plot {
                    padding: 10px 0px 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    max-width: 450px;

                    .content-details {
                        font-size: 0.85rem;
                        font-weight: 400;
                        font-family: 'Nunito', sans-serif;
                        margin: 5px 0px;
                    }

                    .content-title {
                        font-weight: 600;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 2rem;
                    }

                    .content-overview {
                        text-align: justify;
                        margin-top: 10px;
                        font-family: "Poppins", sans-serif;
                    }

                    .show {
                        display: flex;
                        margin-top: 12px;
                        align-items: center;
                        font-size: 0.8em;
                        position: relative;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 500;
                        div{
                            font-family: inherit;
                            font-size: inherit;
                            font-weight: inherit;
                            cursor: pointer;
                            width: max-content;
                        }
                        .show-trailer{
                            padding: 8px 34px;
                            border-radius: 5px;
                            border: 1px solid white;
                            background-color: black;
                        }
                        .watch-now {
                            padding: 8px 15px;
                            border-radius: 5px;
                            background-color: hsla(255, 0%, 98%, 1);
                            color: #000;
                            border: 1px solid transparent;
                            margin-right: 14px;

                            i {
                                margin-right: 8px;
                                // font-size: 0.8rem;
                                color: inherit;
                            }
                        }

                    }

                }

                p {
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 20px;
                    font-family: "Poppins", sans-serif;

                }

            }
            .content-c{
                max-width: 700px;
                margin:0px auto;
                padding: 15px 0px;
                .c-header{
                    display: flex;
                    width: max-content;
                    align-items: center;
                    h2{
                        font-size: 1.2rem;
                    }
                    .h-line{
                        width: 30px;
                        height: 0.1px;
                        margin: 10px auto;
                        border: none;
                        border-top: 1px solid #ddd;
                        &:first-child{
                            margin-right: 10px;
                        }
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                }
                .c-container{
                    display: flex;
                    cursor: pointer;
                    .c-parent{
                        padding: 10px 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 5px 0px;
                        border-radius: 10px;
                        width: max-content;
                        position: relative;
                        // background-color: #151515;
                        .c-image{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            object-fit: cover;
                            background-color: #151515;
                            margin: 0px;
                        }
                        .no-image-container{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: #787878;
                            display: grid;
                            place-items: center;
                            margin: 0px 18px;
                            .no-image{
                                width: 60px;
                                height: 60px;
                                margin-top: 5px;
                                margin-left: 5px;
                                object-fit: contain;
                            }
                        }
                        .c-detail{
                            max-width: 150px;
                            min-width: 140px;
                            position: relative;
                            margin: 0px 5px;
                            .c-name{
                                text-align: center;
                                font-size: 0.8rem;
                                margin-top: 5px;
                                width: 100%;
                            }   
                            .c-job{
                                text-align: center;
                                font-size: 0.75rem;
                                width: 100%;
                                em{
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content.active {
        filter: blur(10px);
        z-index: 101;
    }

    .watch-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000, $alpha: 0.8);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 102;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        iframe {
            width: 100%;
            height: 100vh;
        }

        .close-btn {
            width: max-content;
            cursor: pointer;
            padding: 15px 20px;
            position: absolute;
            right: 0;
            top: 0;

            &:hover {
                background-color: rgba($color: #000, $alpha: 0.45);
            }

            i {
                font-size: 1.8rem;
            }
        }
    }

    .watch-container.active {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width:600px) {
    .w-content {
        .content {
            .content-data {
                width: 100%;
                padding: 120px 20px 40px;
                align-items: flex-end;
                position: relative;
                .content-info {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    .content-poster {
                        // display: none;
                        height: 250px;
                        width: 180px;
                        img{
                            width: 180px;
                            height: 250px;
                        }
                    }

                    .content-plot {
                        padding: 10px 10px;
                        width: 100%;

                        .content-title {
                            text-align: center;
                            font-size: 1.5rem;
                            margin-bottom: 10px;
                        }

                        .content-tagline {
                            text-align: center;
                        }

                        .watch-now {}

                        p,
                        h2 {
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }

        .watch-container {
            iframe {
                height: 30vh;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .navbar {
        padding: 8px 20px 8px 20px;

        .nav-header {
            img {
                width: 40px;
                height: 40px;
            }
        }

        .nav-middle {
            display: none;
        }
    }

    .result-box {}
}